[submodule "walletlibrary/Submodules/VerifiableCredential-SDK-Android"]
	path = walletlibrary/submodules/VerifiableCredential-SDK-Android
	url = https://github.com/microsoft/VerifiableCredential-SDK-Android.git
